name: Compile LaTeX to PDF

on:
  push:
    branches:
      - master  # Adjust if needed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate output directory
        run: 
          mkdir -p public

      - name: Generate index.html
        run: |
          echo "<html>
          <head>
              <title>Lecture Notes</title>
              <style>
                  body {
                      font-family: Arial, sans-serif;
                      text-align: center;
                      padding: 20px;
                      background-color: #121212;
                      color: #e0e0e0;
                  }

                  h1 {
                      color: #d7d4cf;
                  }

                  ul {
                      list-style-type: none;
                      padding: 0;
                  }

                  li {
                      margin: 10px 0;
                  }

                  a {
                      text-decoration: none;
                      color: #64b5f6;
                      font-size: 18px;
                      transition: color 0.2s;
                  }

                  a:hover {
                      color: #bbdefb;
                      text-decoration: underline;
                  }
              </style>
          </head>
          <body>
              <h1>We have migrated</h1>
              <p1>The notes have been migrated to a new location, found below</p1>
              <a href=\"https://notes-computational-biology.pages.dev/\">Visit the new location</a>
              </body></html>" >> public/index.html


      - name: Upload PDFs to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
